<style>
	/* .parent {
	    background-image: url('../images/tournament/card.svg');
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center;
		border-radius: 50px;
	} */
	.parent {
		padding: 5%;
		grid-template-rows: repeat(8, 1fr);
		grid-column-gap: 3%;
		grid-row-gap: 5%;
		display: grid;
		height: 100%;
		width: 100%;

	}
	.div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, .div9, .div10, .div11, .div12, .div13, .div14, .div15 {
        height: auto;
        width: 9vw;
        padding: 5%;
    }
	.div16, .div17, .div18, .div19, .div20, .div21, .div22 {
		display: flex;
        justify-content: center;
        align-items: center;
		position: relative;
		height: auto;
		width: auto;
	}
	.div1 { grid-area: 1 / 1 / 2 / 2; border: 5px solid #3DBDA7; border-radius: 15px; overflow: hidden; white-space: nowrap; display: flex; align-items: center;  }
	.div2 { grid-area: 2 / 1 / 3 / 2; border: 5px solid #3DBDA7; border-radius: 15px; overflow: hidden; white-space: nowrap; display: flex; align-items: center;  }
	.div3 { grid-area: 3 / 1 / 4 / 2; border: 5px solid #3DBDA7; border-radius: 15px; overflow: hidden; white-space: nowrap; display: flex; align-items: center;  }
	.div4 { grid-area: 4 / 1 / 5 / 2; border: 5px solid #3DBDA7; border-radius: 15px; overflow: hidden; white-space: nowrap; display: flex; align-items: center;  }
	.div5 { grid-area: 5 / 1 / 6 / 2; border: 5px solid #3DBDA7; border-radius: 15px; overflow: hidden; white-space: nowrap; display: flex; align-items: center;  }
	.div6 { grid-area: 6 / 1 / 7 / 2; border: 5px solid #3DBDA7; border-radius: 15px; overflow: hidden; white-space: nowrap; display: flex; align-items: center;  }
	.div7 { grid-area: 7 / 1 / 8 / 2; border: 5px solid #3DBDA7; border-radius: 15px; overflow: hidden; white-space: nowrap; display: flex; align-items: center;  }
	.div8 { grid-area: 8 / 1 / 9 / 2; border: 5px solid #3DBDA7; border-radius: 15px; overflow: hidden; white-space: nowrap; display: flex; align-items: center;  }
	.div9 { grid-area: 1 / 3 / 3 / 4; border: 5px solid #3DBDA7; border-radius: 15px; overflow: hidden; white-space: nowrap; display: flex; align-items: center;  }
	.div10 { grid-area: 3 / 3 / 5 / 4; border: 5px solid #3DBDA7; border-radius: 15px; overflow: hidden; white-space: nowrap; display: flex; align-items: center; }
	.div11 { grid-area: 5 / 3 / 7 / 4; border: 5px solid #3DBDA7; border-radius: 15px; overflow: hidden; white-space: nowrap; display: flex; align-items: center; }
	.div12 { grid-area: 7 / 3 / 9 / 4; border: 5px solid #3DBDA7; border-radius: 15px; overflow: hidden; white-space: nowrap; display: flex; align-items: center; }
	.div13 { grid-area: 6 / 5 / 8 / 6; border: 5px solid #3DBDA7; border-radius: 15px; overflow: hidden; white-space: nowrap; display: flex; align-items: center; }
	.div14 { grid-area: 2 / 5 / 4 / 6; border: 5px solid #3DBDA7; border-radius: 15px; overflow: hidden; white-space: nowrap; display: flex; align-items: center; }
	.div15 { grid-area: 4 / 7 / 6 / 8; border: 5px solid #3DBDA7; border-radius: 15px; overflow: hidden; white-space: nowrap; display: flex; align-items: center; }
	.div16 { grid-area: 1 / 2 / 3 / 3; }
	.div17 { grid-area: 3 / 2 / 5 / 3; }
	.div18 { grid-area: 5 / 2 / 7 / 3; }
	.div19 { grid-area: 7 / 2 / 9 / 3; }
	.div20 { grid-area: 2 / 4 / 4 / 5; }
	.div21 { grid-area: 6 / 4 / 8 / 5; }
	.div22 { grid-area: 2 / 6 / 8 / 7; }

	.parent img {
		width: 15vh;
		height: auto;
		object-fit: cover;
	}
	.parent h3 {
		font-size: 1.5em;
		display: flex;
    	justify-content: center;
    	align-items: center;
    	text-align: center;
	}

</style>
<div class="parent">
	<div class="div1"  contenteditable="true" >    </div>
	<div class="div2"  contenteditable="true" >    </div>
	<div class="div3"  contenteditable="true" >    </div>
	<div class="div4"  contenteditable="true" >    </div>
	<div class="div5"  contenteditable="true" >    </div>
	<div class="div6"  contenteditable="true" >    </div>
	<div class="div7"  contenteditable="true" >    </div>
	<div class="div8"  contenteditable="true" >    </div>
	<div class="div9"  > <h3>XXXXXXX</h3> </div>
	<div class="div10" > <h3>XXXXXXX</h3> </div>
	<div class="div11" > <h3>XXXXXXX</h3> </div>
	<div class="div12" > <h3>XXXXXXX</h3> </div>
	<div class="div13" > <h3>XXXXXXX</h3> </div>
	<div class="div14" > <h3>XXXXXXX</h3> </div>
	<div class="div15" > <h3>XXXXXXX</h3> </div>
	<div class="div16"> <img src="../images/tournament/small-bracket.svg"> </div>
	<div class="div17"> <img src="../images/tournament/small-bracket.svg"> </div>
	<div class="div18"> <img src="../images/tournament/small-bracket.svg"> </div>
	<div class="div19"> <img src="../images/tournament/small-bracket.svg"> </div>
	<div class="div20"> <img src="../images/tournament/medium-bracket.svg"> </div>
	<div class="div21"> <img src="../images/tournament/medium-bracket.svg"> </div>
	<div class="div22"> <img src="../images/tournament/large-bracket.svg"> </div>
</div>
